    <a class="marquee__item" href="screenshots/screenshot4.jpg" target="_blank" rel="noopener"><img src="screenshots/screenshot4.jpg" alt=""></a>
    <a class="marquee__item" href="screenshots/screenshot9.jpg" target="_blank" rel="noopener"><img src="screenshots/screenshot9.jpg" alt=""></a>
    <a class="marquee__item" href="screenshots/screenshot2.jpeg" target="_blank" rel="noopener"><img src="screenshots/screenshot2.jpeg" alt=""></a>
    <a class="marquee__item" href="screenshots/screenshot5.jpeg" target="_blank" rel="noopener"><img src="screenshots/screenshot5.jpeg" alt=""></a>
    <a class="marquee__item" href="screenshots/screenshot1.png" target="_blank" rel="noopener"><img src="screenshots/screenshot1.png" alt=""></a>
    <a class="marquee__item" href="screenshots/screenshot10.png" target="_blank" rel="noopener"><img src="screenshots/screenshot10.png" alt=""></a>
    <a class="marquee__item" href="screenshots/screenshot11.png" target="_blank" rel="noopener"><img src="screenshots/screenshot11.png" alt=""></a>
    <a class="marquee__item" href="screenshots/screenshot12.png" target="_blank" rel="noopener"><img src="screenshots/screenshot12.png" alt=""></a>
    <a class="marquee__item" href="screenshots/screenshot3.png" target="_blank" rel="noopener"><img src="screenshots/screenshot3.png" alt=""></a>
    <a class="marquee__item" href="screenshots/screenshot6.png" target="_blank" rel="noopener"><img src="screenshots/screenshot6.png" alt=""></a>
    <a class="marquee__item" href="screenshots/screenshot7.png" target="_blank" rel="noopener"><img src="screenshots/screenshot7.png" alt=""></a>
    <a class="marquee__item" href="screenshots/screenshot8.png" target="_blank" rel="noopener"><img src="screenshots/screenshot8.png" alt=""></a>
